<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<title>Insert title here</title>
</head>

<body>
	<div class="container">
		<h1 class="text-center">Aggiungi Ingrediente</h1>
		<form method="POST" class="mt-5">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<!--Ingredient title-->
			<div class="form-group my-2">
				<label for="title">Nome Ingrediente</label>
				<input type="text" class="form-control" id="title" placeholder="Inserisci il nome dell'offerta"
					th:field="${ingredient.title}">
			</div>
				<button type="submit" class="btn btn-primary mt-3" value="STORE">Submit</button>
		</form>
	</div>
</body>

</html>